/***** LOCAL FONTS *****/

@font-face {
  font-family: 'Wisdom Script Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Wisdom Script Regular'), url('../fonts/Wisdom-Script-AJ.woff') format('woff');
}


/***** BODY STYLES  *****/

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
}

span, ul li {
	color: #77a466;
	list-style: none;
}

a {
	color: #77a466;
	text-decoration: none;
}

/**** GRID ****/

.container {
	width: 1200px;
	margin: 0 auto;
}

.full-width {
  margin: 0px auto;
	clear: both;
}

.half-width {
  width: 600px;
  float: left;
}

.third-width {
  width: 358px;
	height: auto;
	padding: 20px 20px 20px 20px; 
  float: left;
}


/**** HEADER ****/

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	line-height: 23px;
  text-transform: uppercase;
}

h1 {
  font-size: 30px;
	text-align: left;
	padding: 20px 0 20px 0;
}

h2 {
	color: #77a466;
	font-size: 18px;
	text-align: left;
}

nav {
  text-align: right;
	word-spacing: 20px;
  line-height: 23px;
  font-size: 14px;
  text-transform: uppercase;
	padding: 20px 0 20px 0;
}


nav ul li {
  display: inline-block;
}



/**** TOP SECTION ****/

#section-top {
	line-height: 28px;
	clear: both;
}

img {
	margin: 20px 0 20px 0;
	width: 1200px;
	height: 288px;
	border-style: solid none;
	border-color: #77a466;
	border-width: 4px;
}


/***** BOTTOM SECTION *****/

#section-bottom {
	border-color: #77a466;
	border-top-style: solid;
	border-width: 1px;
	font-size: 16px;
	clear: both;
}

#section-bottom h3 {
	font-size: 12px;
	line-height: 25px;
}

#menu {
	line-height: 32px;
}

#menu li {
  padding: 0;
  color:#77a466;
}

#reviews {
	line-height: 26px;
	border-color: #77a466;
	border-right-style: solid;
	border-left-style: solid;
	border-width: 1px;
}

#locations {
	line-height: 30px;
}

/***** FOOTER *****/

footer {
	text-align: center;
	font-size: 16px;
	clear: both;
	border-color: #77a466;
	border-top-style: solid;
	border-width: 1px;
}

#font-emphasis {
	font-family: 'Wisdom Script Regular';
	text-transform: lowercase;
}
